@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sarala:700|Exo+2:300');

body{
	font-family: 'Zilla Slab', serif;
		background-color: white;
}
.container{
	width: 1380px;
	margin: 0 auto;
}

.container2{
	width: 1380px;
	height: 680px;
	margin: 0 auto;
}

.hidden{
	display: none;
}

.fixedSidebar{
	position: -webkit-sticky;
    position: sticky;
    top: 0;
	float: left;
    width: 157px;
	padding: 10px;
    opacity: 0.9;
}
#logo{
	position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-left: 30px;
}
nav{
	position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding-left: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    opacity: 0.5;
    font-size: 20px;

}
nav ul{
	text-decoration: none;
}
nav ul li{
	padding-bottom: 10px;
}
nav ul a{
	text-decoration: none;
	padding: 0px 10px 10px 10px;
}

nav ul li :hover{
	text-decoration: underline;
	background-color: lightsteelblue;
	color: red;
}

.promo{
	padding-top: 50px;
	padding-left: 250px;
    margin: 0 auto;
}

.content {
	font-family: Arial, sans-serif;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 85%;
  padding: 20px;
  margin: 0 auto;
}

#contentBox{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;                                  
	padding: 10px;
	padding-left: 250px;
}

.firstRow{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 50px;
	flex-wrap: wrap;
	align-items: flex-start;
	/*padding: 10px;*/
}

#secondRow{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
	/*padding-left: 20px;*/
}

#thirdRow{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30px;

}


.imagedropshadow {
	-webkit-transition:all .2s ease-in;
    padding: 5px;

}
a:hover img.imagedropshadow {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}


.gallery{
	margin-left: 200px;
}



/*contact form*/

.promo2{
	padding-top: 50px;
	padding-left: 250px;
    margin: 0 auto;
    background-color: #f5f9f9;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.center{
	margin-left: 500px;
}

input[type=submit]:hover {
  background-color: #060a1c;
  transform: rotate(2deg);
}

.contactform {
  border-radius: 5px;
  padding: 20px;
}



/*slideshow*/

.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container {
  width: 1100px;
  position: relative;
  margin: auto;
}

.text {
  color: #3984bc;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4.5s;
  animation-name: fade;
  animation-duration: 4.5s;
}

@-webkit-keyframes fade {
  from {opacity: .54} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.ad2{
	padding: 10px 0px 10px 70px;
}

.ad2 img{
	padding-top: 30px;
}

.imgcontainer {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 20px;
}

.imgcontainer img {vertical-align: middle;}

.imgcontainer .content {
  position: absolute;
  bottom: 0;
  background: rgb(148, 164, 177); /* Fallback color */
  background: rgba(148, 164, 177, 0.3); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#imgheading{
	padding-left: 350px;
	padding-bottom: 10px;
	color: #94a4b1;
	font-size: 20px;
}


#aboutimage{
	padding-left: 100px;
}


































*,
*:before,
*:after{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  outline: 1px solid transparent;
}

.fullbody{ 
  display: flex;
  /*
  width: 100vw;
  height: 100vh;
  */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  background-image: linear-gradient(-55deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 100%);
  color: #f5f5f5;
  /*font-family: 'Exo 2';*/
  font-weight: 300;
  animation: fadeIn .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1;
  padding-bottom: 0px;
}

.wrapper{
  width: 280px;
  height: 480px;
  perspective: 800px;
  position: relative;
  padding-left: 100px;
}

.card{
  width: 320px;
  height: 450px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  cursor: pointer;
}

.card > div{
  position: absolute;
  width: 420px;
  height: 450px;
  padding: 34px 21px;
  padding-left: 200px;
  transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.front{
  background-image: linear-gradient(180deg, rgba(0,28,63,1) 0%, rgba(0,28,63,0) 100%);
  transform: rotateY(0deg) translateZ(160px); 
  border-radius: 34px 3px 0 0;
}

.right{ 
  background-image: linear-gradient(0deg, rgba(145,141,144,1) 0%, rgba(91,94,98,0) 100%);
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 3px 34px;
  color: black;
}

.card:hover{
  transform: translateZ(-160px) rotateY( -90deg);
}

.card:hover .front{
  opacity: 0; 
}

.card:hover .right{
  opacity: 1; 
}

.flipname{
  margin: 0;
  font-size: 38px;
  letter-spacing: -.25px;
  transform: translateX(-44px);
  font-family: 'Sarala'; 
  font-weight: 700;
}

.beername{
    margin: 0;
  font-size: 38px;
  letter-spacing: -.25px;
  transform: translateX(-44px);
  font-family: 'Sarala'; 
  font-weight: 700;
  padding-left: 30px;
}
.flipname{
  font-size: 21px;
  transform: translateX(-34px);
}

p{
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

span{
  margin-left: 13px;
  opacity: .55;
}

.animationimg{
  transform-origin: top right;
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transition-delay: 100ms;
  transform: translateX(28%) rotateZ(13deg) skewX(3deg);
  pointer-events: none;
  padding-left: 10px;
}

.img-wrapper{
  animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
  position: absolute;
  top: 0; right: 0;
  pointer-events: none;
  backface-visibility: hidden;
}

@keyframes float{
  0%{
    transform: translateZ(20px);
  }
  100%{
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

.card:hover ~ .img-wrapper img{
  transform: scale(0.9) translateX(77%) translateY(90%) rotateZ(80deg);
}

.list{
  margin-left: 21px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

.x{
  padding-bottom: 8px;
  position: relative;
}

.x:before{
  content: 'x';
  position: absolute;
  left: -21px;
  opacity: .55;
}

button{
  position: absolute;
  right: 21px; 
  bottom: 34px;
  border: none;
  box-shadow: none;
  background: none;
  color: inherit;
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 15px;  
  letter-spacing: -.25px;
  font-weight: 700;
  padding: 13px 34px;
  border-radius: 55px 55px 21px 55px;
  background-image: linear-gradient(130deg, rgba(117,51,165,1)  50%, rgba(51,46,57,.89) 100%);
  background-size: 125% 100%;
  background-position: right;
  cursor: pointer;
  box-shadow: 8px 5px 13px rgba(34,34,34,.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transform-origin: right bottom;
}

.card:hover button{
   transform: scale(1) skewY(0);
}

.card:not(:hover) button{
opacity: 0;
}

button:hover{
  background-position: left;
}

.price{
  position: absolute;
  bottom: 34px;
  left: 301px;
  font-size: 34px;
  opacity: .34;
  color: blue;

}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}

@media only screen and (max-width: 600px){
  body{
    transform: scale(.67);
  }
}

.beercon{
	padding-right: 200px;
}

.align{
	width: 980px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 30px;

}

.cart{
	float: right;
	padding: 20px;
	position: -webkit-sticky;
    position: sticky;
    top: 0;
}

